/********************
 * GENERAL STYLES
 ********************/
html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #F3F5F8;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #676a6d; }

a {
  color: #3287B2; }
  a:hover, a:focus {
    color: #3b98c8;
    text-decoration: none; }

th {
  font-weight: 500;
  }

.page-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300; }

footer {
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 0; */
  padding-top: 15px;
  padding-bottom: 10px;
  }

.copyright {
  margin-bottom: 0;
  text-align: right;
  font-size: 13px; }
  @media screen and (max-width: 767px) {
    .copyright {
      text-align: center;
      position: relative !important; } }

/********************
 * LAYOUT
 ********************/
#wrapper .sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #2B333E;
  position: fixed;
  left: 0; }

#wrapper .main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 260px);
  left: 0;
  position: relative;
  float: right;
  background-color: #f5f5fa; }

#wrapper #sidebar-nav,
#wrapper .main {
  padding-top: 80px; }

@media screen and (max-width: 767px) {
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 130px; } }

.layout-fullwidth #wrapper .sidebar {
  left: -260px; }

.layout-fullwidth #wrapper .main {
  width: 100%; }

.layout-fullwidth #wrapper .navbar {
  left: 0 !important; }

.layout-fullwidth #wrapper .btn-toggle-fullwidth {
  color: #00AAFF; }

.offcanvas-active #wrapper .sidebar {
  left: 0; }

.offcanvas-active #wrapper .main {
  width: 100%;
  position: relative;
  left: 260px; }

@media screen and (max-width: 1024px) {
  #wrapper .sidebar {
    left: -260px; }
  #wrapper .main {
    width: 100%; }
  #wrapper .navbar {
    left: 0 !important; }
  #wrapper .btn-toggle-fullwidth {
    color: #00AAFF; }
  .btn-toggle-minified {
    display: none; } 

  .navbar-default .brand {
    padding-left: 30px;
    padding-right: 15px; }

  .profile-header .profile-stat .stat-item:after {
    display: none; } 
  }

.main-content {
  padding: 28px 10px; }



/********************
 * TOP NAVIGATION
 ********************/
.navbar-default {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fafafa; }
  .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f8f8f8; }
  .navbar-default .brand {
    float: left;
    padding: 5px 5px;
    background-color: #fff;
    width: 150px;
    }

  @media screen and (max-width: 992px) {
    .navbar-default .brand {
      display: none; } }

.navbar-btn {
  float: left;
  padding: 16px 0; }
  .navbar-btn button {
    font-size: 24px;
    padding: 4px 8px;
    line-height: .7;
    border: none;
    background: none;
    outline: none; }
  @media screen and (max-width: 640px) {
    .navbar-btn {
      padding-left: 0; }
    .navbar-default #navbar-menu {
      padding: 15px 0;
      float: none;
      }
  }

.navbar-btn-right {
  float: right; }

.navbar-form {
  padding: 15px;
  border: 0; }
  .navbar-form input[type="text"] {
    min-width: 200px; }
  @media screen and (max-width: 767px) {
    .navbar-form {
      float: left;
      width: 70%;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0; }
      .navbar-form .input-group {
        width: 70%; }
      .navbar-form input[type="text"] {
        min-width: 150px; } }
  @media screen and (max-width: 640px) {
    .navbar-form {
      display: none; } }

.navbar-nav .icon-menu {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative; }
  .navbar-nav .icon-menu .badge {
    position: absolute;
    top: 22px;
    right: 16px; }

.navbar-nav > li > a {
  padding: 28px 20px; }
  .navbar-nav > li > a > i {
    font-size: 22px;
    margin-right: 2px;
    vertical-align: middle; }
    .navbar-nav > li > a > i.icon-submenu {
      margin-left: 2px;
      margin-right: 0;
      font-size: 10px;
      position: relative;
      top: 2px; }
  .navbar-nav > li > a > span {
    position: relative;
    top: 2px; }
  .navbar-nav > li > a img {
    width: 22px;
    margin-right: 2px; }

.navbar-nav > li > .dropdown-menu {
  padding: 0;
  min-width: 200px; }

.navbar-nav .dropdown-menu {
  border-top: 2px solid #ACB0B5; }

.navbar-nav .dropdown-menu > li > a {
  padding: 10px 20px; }
  .navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #fafafa; }
  .navbar-nav .dropdown-menu > li > a span,
  .navbar-nav .dropdown-menu > li > a i {
    vertical-align: middle; }

@media screen and (min-width: 768px) {
  .navbar-nav.navbar-right {
    margin-right: 0; } }

@media screen and (max-width: 767px) {
  .navbar-nav {
    width: 100%;
    margin: 0; }
    .navbar-nav > li {
      display: table-cell;
      width: 1%;
      position: inherit;
      text-align: center; }
    .navbar-nav > li > a {
      padding: 15px 20px; }
      .navbar-nav > li > a span:not(.badge),
      .navbar-nav > li > a .icon-submenu {
        display: none; }
    .navbar-nav .open .dropdown-menu {
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      position: absolute;
      width: 100%;
      margin-top: 3px;
      background-color: #fff; }
    .navbar-nav .open .dropdown-menu > li > a {
      padding: 10px 15px; }
    .navbar-nav .icon-menu {
      padding-top: 15px;
      padding-bottom: 15px; }
      .navbar-nav .icon-menu .badge {
        top: 10px;
        right: 15px; } }

.navbar-toggle {
  padding: 5px 8px;
  margin: 20px 15px 20px 0; }
  .navbar-toggle .icon-nav {
    font-size: 24px; }

.notification-item .dot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
  content: '';
  margin-right: 8px; }

ul.notifications > li {
  border-bottom: 1px solid #F0F0F0; }
  ul.notifications > li:last-child {
    border-bottom: none; }
  ul.notifications > li > .more {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: underline;
    font-weight: 600; }
    ul.notifications > li > .more:hover, ul.notifications > li > .more:focus {
      text-decoration: none; }

.dropdown-menu {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-color: #eaeaea; }
  .dropdown-menu > li > a {
    color: #676a6d; }
  .dropdown-menu > li i {
    margin-right: 6px; }
  .dropdown-menu .active > a, .dropdown-menu .active > a:focus, .dropdown-menu .active > a:hover {
    background-color: #00AAFF; }
  .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    color: #a3a3a3; }

/********************
 * SIDEBAR NAVIGATION
 ********************/
.sidebar {
  z-index: 9; }
  .sidebar .nav > li > a {
    padding: 18px 30px;
    color: #AEB7C2;
    border-left: 5px solid transparent; }
    .sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
      color: #fff;
      background-color: transparent; }
      .sidebar .nav > li > a:hover i, .sidebar .nav > li > a:focus i, .sidebar .nav > li > a.active i {
        color: #00AAFF; }
    .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
      background-color: #252c35;
      border-left-color: #00AAFF; }
    .sidebar .nav > li > a[data-toggle="collapse"] .icon-submenu {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      float: right;
      position: relative;
      top: 5px;
      font-size: 12px;
      line-height: 1.1;
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .sidebar .nav > li > a[data-toggle="collapse"].collapsed .icon-submenu {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    .sidebar .nav > li > a .badge {
      font-weight: 400;
      background-color: #F9354C; }
  .sidebar .nav {
    /* submenu */ }
    .sidebar .nav i {
      margin-right: 10px;
      font-size: 18px; }
    .sidebar .nav span {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      top: -2px; }
    .sidebar .nav .nav {
      background-color: #252c35; }
      .sidebar .nav .nav > li > a {
        padding-left: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
        }
        .sidebar .nav .nav > li > a:focus, .sidebar .nav .nav > li > a.active {
          background-color: transparent;
          border-left-color: transparent; }
        .sidebar .nav .nav > li > a.active a {
          color: #fff; }




/********************
 * BUTTONS
 ********************/
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 22px; }

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 28px; }

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 18px; }

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 14px; }

.btn-primary {
  background-color: #00AAFF;
  border-color: #00a0f0; }
  .btn-primary:hover, .btn-primary:focus {
    background-color: #00a0f0;
    border-color: #00a0f0; }

.btn-warning {
  background-color: #e4cb10;
  border-color: #d6be0f; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #d6be0f;
    border-color: #d6be0f; }

.btn-default:hover, .btn-default:focus {
  background-color: #f7f7f7; }

.btn-success {
  background-color: #41B314;
  border-color: #3ca512; }
  .btn-success:hover, .btn-success:focus {
    background-color: #3ca512;
    border-color: #3ca512; }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity=40); }

/********************
 * PANELS
 ********************/
.panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  margin-bottom: 30px;
  }
  .panel .panel-heading,
  .panel .panel-body,
  .panel .panel-footer {
    padding-left: 25px;
    padding-right: 25px; }
  .panel .panel-heading, .panel .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    }

    .panel .panel-heading .panel-title {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      }
    .panel .panel-heading button, .panel .panel-body button {
      padding: 0;
      margin-left: 5px;
      background-color: transparent;
      border: none;
      outline: none; }
      .panel .panel-heading button i {
        font-size: 14px; }
  .panel .panel-body {
    padding-top: 20px;
    padding-bottom: 20px;
    }
  .panel .panel-note {
    font-size: 13px;
    line-height: 2.6;
    color: #777777; }
    .panel .panel-note i {
      font-size: 16px;
      margin-right: 3px; }
  .panel .right {
    position: absolute;
    display: inline-block;
    }
  .panel.panel-headline .panel-heading {
    border-bottom: none; }
    .panel.panel-headline .panel-heading .panel-title {
      margin-bottom: 8px;
      font-size: 22px;
      font-weight: normal; }
    .panel.panel-headline .panel-heading .panel-subtitle {
      margin-bottom: 0;
      font-size: 14px;
      color: #8D99A8; }
  .panel.panel-scrolling .btn-bottom {
    margin-bottom: 30px; }
  .panel .table > thead > tr > td:first-child,
  .panel .table > thead > tr > th:first-child,
  .panel .table > tbody > tr > td:first-child,
  .panel .table > tbody > tr > th:first-child,
  .panel .table > tfoot > tr > td:first-child,
  .panel .table > tfoot > tr > th:first-child {
    padding-left: 25px;
    outline: none;
    }
  .panel .table > thead > tr > td:last-child,
  .panel .table > thead > tr > th:last-child,
  .panel .table > tbody > tr > td:last-child,
  .panel .table > tbody > tr > th:last-child,
  .panel .table > tfoot > tr > td:last-child,
  .panel .table > tfoot > tr > th:last-child {
    padding-left: 25px; }

.panel-footer {
  background-color: #fafafa; }

/********************
 * ELEMENTS
 ********************/
.collapsing {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.label {
  font-weight: normal; }

.metric {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #DCE6EB; }
  .metric .icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #0081c2;
    text-align: center; }
    .metric .icon i {
      font-size: 18px;
      color: #fff; }
  .metric p {
    margin-bottom: 0;
    line-height: 1.2;
    text-align: right; }
  .metric .number {
    display: block;
    font-size: 28px;
    font-weight: 300; }
  .metric .title {
    font-size: 16px; }

ul.activity-list > li {
  padding: 25px 0; }
  ul.activity-list > li:not(:last-child) {
    border-bottom: 1px solid #F0F0F0; }
  ul.activity-list > li .avatar {
    width: 40px; }
  ul.activity-list > li > p {
    margin-bottom: 0;
    padding-left: 3.5em; }
  ul.activity-list > li .timestamp {
    display: block;
    font-size: 13px;
    color: #a3a3a3; }

/* task list */
.task-list > li {
  margin-bottom: 32px; }

.task-list p {
  position: relative; }
  .task-list p .label-percent {
    position: absolute;
    right: 0; }

/* bootstrap progress bar */
.progress {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f1f1f1; }
  .progress.wide {
    width: 60px; }
  .progress .progress-bar {
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    -ms-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .progress.progress-sm {
    height: 12px; }
  .progress.progress-xs {
    height: 5px; }
  .progress.progress-sm .progress-bar, .progress.progress-xs .progress-bar {
    text-indent: -9999px; }

.progress-bar-success {
  background-color: #41B314; }

.progress-bar-warning {
  background-color: #e4cb10; }

.progress-bar-danger {
  background-color: #F9354C; }

.weekly-summary {
  margin-bottom: 30px;
  font-weight: 300; }
  .weekly-summary .number {
    font-size: 36px; }
  .weekly-summary i {
    font-size: 16px;
    margin-left: 10px; }
  .weekly-summary .percentage {
    position: relative;
    top: -7px; }
  .weekly-summary .info-label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal; }

.todo-list > li {
  border-top: 1px solid #F0F0F0;
  position: relative; }
  .todo-list > li:first-child {
    border-top: none; }
  .todo-list > li .fancy-checkbox {
    position: absolute;
    top: 50%;
    margin-top: -11px; }
    .todo-list > li .fancy-checkbox input[type="checkbox"] + span {
      margin-right: 0; }
  .todo-list > li p {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 90%;
    margin: 0;
    padding: 20px 0 20px 35px; }
  .todo-list > li.completed p,
  .todo-list > li.completed .date {
    text-decoration: line-through;
    color: #b4b7b9; }

.todo-list .title {
  font-size: 16px;
  font-weight: 600; }

.todo-list .short-description {
  display: block;
  margin-top: 5px; }

.todo-list .date {
  font-size: 13px;
  color: #a3a3a3; }

.todo-list .controls {
  float: right;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px; }
  .todo-list .controls a {
    margin-left: 5px; }

/* toastr notification */
#toast-container > div {
  opacity: 0.9;
  filter: alpha(opacity=90); }
  #toast-container > div, #toast-container > div:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

#toast-container .toast-close-button {
  top: -0.9em; }

.toast a {
  text-decoration: underline; }
  .toast a:hover, .toast a:focus {
    text-decoration: none;
    color: #fff; }

.toast .toast-message {
  font-size: 14px;
  line-height: 2; }

.toast-info {
  background-color: #00AAFF; }

.toast-success {
  background-color: #41B314; }

.toast-warning {
  background-color: #e4cb10; }

.toast-danger {
  background-color: #F9354C; }

/* tabs */
.custom-tabs-line ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  .custom-tabs-line ul > li {
    float: left; }
    .custom-tabs-line ul > li a {
      color: #8d9093;
      font-weight: normal; }
      .custom-tabs-line ul > li a:hover, .custom-tabs-line ul > li a:focus {
        color: #676a6d;
        background-color: transparent; }
      .custom-tabs-line ul > li a:focus {
        outline: none; }
  .custom-tabs-line ul.nav-pills a:hover, .custom-tabs-line ul.nav-pills a:focus {
    color: #fff;
    background-color: #00AAFF; }

.custom-tabs-line.tabs-line-bottom {
  border-bottom: 1px solid #eaeaea; }
  .custom-tabs-line.tabs-line-bottom ul > li {
    margin-bottom: -1px; }
  .custom-tabs-line.tabs-line-bottom a {
    border-bottom: 1px solid transparent; }
  .custom-tabs-line.tabs-line-bottom .active a {
    border-bottom: 2px solid #00AAFF; }

.custom-tabs-line.left-aligned {
  text-align: left; }

.custom-tabs-line.right-aligned {
  text-align: right; }

@media screen and (max-width: 768px) {
  .custom-tabs-line ul li.active > a {
    margin-bottom: -1px; } }

.tab-pane {
  padding: 25px 15px; }

/********************
 * CHARTS
 ********************/
/* easy pie chart */
.easy-pie-chart {
  position: relative;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center; }
  .easy-pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0; }
  .easy-pie-chart .percent {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    line-height: 110px;
    z-index: 2; }
    .easy-pie-chart .percent:after {
      content: '%';
      margin-left: 0.1em;
      font-size: .8em; }
  .easy-pie-chart#system-load {
    width: 130px; }
    .easy-pie-chart#system-load .percent {
      line-height: 128px; }

/********************************
 * AUTHENTICATION FORMS, PAGE
 ********************************/
.auth-box {
  -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 70%;
  height: 450px;
  margin: 0 auto;
  background-color: #fff; }
  .auth-box:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: ' ';
    vertical-align: middle;
    height: 100%; }
  .auth-box .content {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 99%;
    vertical-align: middle; }
  .auth-box .left {
    float: left;
    width: 42%;
    height: 100%;
    padding: 0 30px;
    text-align: center; }
    .auth-box .left:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: ' ';
      vertical-align: middle;
      height: 100%; }
  .auth-box .right {
    float: right;
    width: 58%;
    height: 100%;
    position: relative;
    background-image: url("../../assets/img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .auth-box .right:before {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      content: ' ';
      vertical-align: middle;
      height: 100%; }
    .auth-box .right .text {
      position: relative;
      padding: 0 30px;
      color: #fff; }
    .auth-box .right .heading {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 26px;
      font-weight: 300; }
    .auth-box .right p {
      margin: 0;
      font-size: 18px;
      font-weight: 300; }
    .auth-box .right .overlay {
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(99, 156, 185, 0.92); }
  .auth-box .header {
    margin-bottom: 30px; }
  .auth-box .lead {
    margin-top: 5px;
    font-size: 18px;
    text-align: center; }
  .auth-box .form-auth-small .btn {
    margin-top: 20px; }
  .auth-box .form-auth-small .element-left {
    float: left; }
  .auth-box .form-auth-small .element-right {
    float: right; }
  .auth-box .form-auth-small .bottom {
    margin-top: 20px;
    text-align: center; }
  .auth-box.lockscreen {
    width: 50%;
    padding: 40px 60px; }
    .auth-box.lockscreen .logo {
      margin-bottom: 30px; }
    .auth-box.lockscreen .user {
      margin-bottom: 30px; }
      .auth-box.lockscreen .user .name {
        font-size: 18px;
        margin-top: 10px; }
  @media screen and (min-width: 1440px) {
    .auth-box.lockscreen {
      width: 35%; } }
  @media screen and (max-width: 1279px) {
    .auth-box {
      width: 90%; }
      .auth-box .left {
        top: 3.3em; } }
  @media screen and (max-width: 1023px) {
    .auth-box .left {
      width: 100%;
      position: inherit;
      padding: 30px; }
    .auth-box .right {
      display: none; } }
  @media screen and (max-width: 992px) {
    .auth-box {
      width: 70%; }
      .auth-box.lockscreen {
        width: 50%;
        padding: 40px 20px; } }
  @media screen and (max-width: 640px) {
    .auth-box {
      width: 90%; }
      .auth-box .content {
        width: 95%; }
      .auth-box.lockscreen {
        width: 90%; } }

/********************
 * HELPERS
 ********************/
.bg-success {
  background-color: #41B314; }

.bg-warning {
  background-color: #e4cb10; }

.bg-danger {
  background-color: #F9354C; }

.no-padding {
  padding: 0 !important; }


/********************
 * PAGE: PROFILE
 ********************/

@media screen and (max-width: 992px) {
  .profile-left,
  .profile-right {
    float: none;
    width: 100%; }
  .profile-left {
    position: relative;
    margin-bottom: 30px; } }






/********************
 * Button: Hover;
 ********************/

.hvr-center:not(.active) {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-center:not(.active):before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FF5722;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-center:not(.active):hover:before, .hvr-center:not(.active):focus:before, .hvr-center:not(.active):active:before {
  left: 0;
  right: 0;
}


/* */

body .hvr-horizontal {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}


body .hvr-horizontal.orange:before{
  background: #ff5722;
}

body .hvr-horizontal.blue:before{
  background: #607D8B;
}

body .hvr-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-horizontal:hover, .hvr-horizontal:focus, .hvr-horizontal:active {
  color: white!important;
}

body .hvr-horizontal:hover:before, body .hvr-horizontal:focus:before, body .hvr-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




.main-content .panel .panel-header, .main-content .panel .panel-head {
    position: relative;
    display: block;
    height: auto;
    bottom: 1px;
    padding: 6px 15px 6px 18px;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

.bg-dark:not(i) {
    background-color: #2b333e !important;
    color: #fff;
}


.main-content .panel .panel-header h2, .main-content .panel .panel-head h2 {
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 7px;
    text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */


/* */

.center{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


.orange, .blue{
  margin-top: 20px;
  width: 50%;
  min-width: 50%;
  max-width: 100%;
  height: 40px;
  background: transparent;
  font-weight: 500;
}

.blue{
  color: #607d8b;
}

.orange{
  color: #ee6100;
}
.panel-over{
  overflow: hidden;
}

.division {
    padding: 40px 20px 10px;
    overflow: hidden;
}


@media screen and (max-width: 1068px) {
  .division {
      padding: 40px 20px 10px;
      overflow: initial;
  }
}


.division_lessover {
    padding: 40px 20px 10px;
}


textarea {
  display: block;
  width: 100%;
  border: 0;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0) no-repeat;
  
  /*
  * IMPORTANT PART HERE
  */
  
  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
  background-image: linear-gradient(to bottom, #46576c, #46576c), linear-gradient(to bottom, silver, silver);
  /* sizes for the 2 images (default state) */
  background-size: 0 2px, 100% 1px;
  /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
  background-position: 50% 100%, 50% 100%;

  /* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

textarea:focus{
  /* sizes for the 2 images (focus state) */
  background-size: 100% 2px, 100% 1px;
  outline: none;
}

.iform i {
  font-size: 20px;
  position: absolute;
  left: -10px;
}




.main-content .panel .panel-header .mdl-textfield{
  top: 50%;
  right: 50px;
  transform: translateY(-45%);
  z-index: 999;
}


.main-content .panel .panel-header .mdl-textfield__label{
  color: white;
}

.main-content .panel .panel-header .mdl-textfield__input {
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* Outils */

.right{
  float: right;
  right: 0;
}

.left{
  float: left;
  left: 0;
}

/* Scroll */

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
 
::-webkit-scrollbar-track {
    background-color:rgba(47, 46, 60, 0); 
    /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
    background-color:#777; 
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #777;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}

























.main-content .page-content .panel {

  background: #ffffff;

  border-radius: 0;

  border: 1px solid #E2E2E2;

  border: none;

  color: #5b5b5b;

  margin-bottom: 20px;

  min-height: 30px;

  position: relative;

  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

}

.main-content .page-content .panel:before {

  content: " ";

  display: table;

}

.main-content .page-content .panel:after {

  content: " ";

  display: table;

}

.main-content .page-content .panel .panel-content h1 {

  font-family: 'Lato';

  font-weight: 100;

  font-size: 28px;

  margin-top: 0;

}

.main-content .page-content .panel .panel-content ul {

  padding-left: 0;

}

.main-content .page-content .panel .panel-content ol {

  padding-left: 0;

}

.main-content .page-content .panel .panel-content i {

  padding-left: 0;

  padding-right: 6px;

}

.main-content .page-content .panel .panel-content .btn i {

  padding-right: 0;

}

.main-content .page-content .panel .panel-header[class*="bg-"] h2 {

  color: #ffffff;

}

.main-content .page-content .panel .panel-header {

  display: block;

  height: auto;

  padding: 6px 15px 6px 18px;

}

.main-content .page-content .panel .panel-header h2 {

  color: #5b5b5b;

  display: block;

  font-family: 'Lato';

  font-size: 24px;

  font-weight: 100;

  line-height: normal;

  margin-bottom: 5px;

  margin-top: 7px;

  text-transform: uppercase;

}

.main-content .page-content .panel .panel-header h3 {

  display: block;

  font-family: 'Lato', 'Open Sans', sans-serif;

  font-size: 15px;

  font-weight: 400;

  line-height: normal;

  margin-bottom: 10px;

  margin-top: 10px;

  text-transform: uppercase;

}

.main-content .page-content .panel .panel-header:hover .control-btn > a {

  background: none !important;

  color: #909090 !important;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.main-content .page-content .panel .panel-header .control-btn > a .icon-size-fullscreen:before {

  display: inline-block;

  width: 14px;

}

.main-content .page-content .panel .panel-header .control-btn .btn-group > a {

  color: #cccccc !important;

  cursor: pointer;

  margin-left: 11px;

  margin-right: 0px;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.main-content .page-content .panel .control-btn {

  display: inline-block !important;

  position: absolute;

  right: 13px;

  top: 14px;

  z-index: 2;

}

.main-content .page-content .panel .control-btn .dropdown-menu {

  z-index: 2;

}

.main-content .page-content .panel .left-toolbar {

  left: 13px;

  position: absolute;

  top: 10px;

  z-index: 2;

}

.main-content .page-content .panel:hover .control-btn > a.hidden {

  display: inline-block !important;

  visibility: visible !important;

}

.main-content .page-content .panel:hover .control-btn > a.hidden.nevershow {

  display: none !important;

}

.main-content .page-content .panel .control-btn > a.nevershow {

  display: none !important;

}

.main-content .page-content .panel table .btn-group {

  z-index: 1;

}

.main-content .page-content .panel .panel-close {

  font-size: 15px;

}

.main-content .page-content .panel .panel-close:hover {

  color: #EB5055 !important;

}

.main-content .page-content .panel .control-btn > a {

  color: #cccccc !important;

  cursor: pointer;

  margin-left: 11px;

  margin-right: 0px;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.main-content .page-content .panel .control-btn > a:hover {

  text-decoration: none;

  text-decoration: none !important;

  -webkit-transition: all 0.4s ease;

  -moz-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  -ms-transition: all 0.4s ease;

  transition: all 0.4s ease;

}

.main-content .page-content .panel .control-btn > a:focus {

  text-decoration: none !important;

}

.main-content .page-content .panel .panel-header.header-line:before {

  background: rgba(0, 0, 0, 0.1);

  bottom: 0;

  content: "";

  height: 1px;

  left: 16px;

  position: absolute;

  right: 16px;

}

.main-content .page-content .panel .panel-title {

  display: inline-block;

  font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;

  font-size: 24px;

  font-weight: 100;

  margin: 5px;

  padding: 0;

}

.main-content .page-content .panel .panel-footer.footer-line {

  background-color: #ffffff;

}

.main-content .page-content .panel .panel-footer.footer-line:before {

  border-top: 1px solid rgba(0, 0, 0, 0.1);

  content: "";

  height: 1px;

  left: 0;

  position: relative;

  right: 0;

  top: -10px;

  width: 100%;

}

.main-content .page-content .panel .panel-footer {

  background-color: #F4F4F4;

  border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;

  border-bottom: 1px solid #E2E2E2;

  border-top: 1px solid #E2E2E2;

  border-top: none;

  padding: 10px 15px;

}

.main-content .page-content .panel .panel-footer .btn {

  margin-bottom: 0;

}

.main-content .page-content .panel .stat-num {

  font-size: 36px;

  font-weight: bold;

}

.main-content .page-content .panel.panel-transparent {

  -webkit-box-shadow: none;

  background: rgba(0, 0, 0, 0);

  border: none;

  box-shadow: none;

}

.main-content .page-content .panel.panel-transparent .panel-content {

  padding: 0;

}

.main-content .page-content .portlets.ui-sortable {

  z-index: 2;

}

.main-content .page-content .portlets.ui-sortable .panel-header {

  cursor: move;

}

.main-content .page-content .panel.bg-aero .panel-content {

  color: #5b5b5b !important;

}

.main-content .page-content .panel[class*='bg-'].control-btn > a {

  color: #ffffff !important;

  opacity: 0.8;

}

.main-content .page-content .panel[class*='bg-'].panel-header:hover .control-btn > a {

  opacity: 1;

}

.main-content .page-content .panel-content {

  padding: 20px 20px 10px 20px;

  -webkit-border-radius: 0 0 2px 2px;

  -moz-border-radius: 0 0 2px 2px;

  border-radius: 0 0 2px 2px;

  -moz-background-clip: padding;

  -webkit-background-clip: padding-box;

  background-clip: padding-box;

}

.main-content .page-content .panel-content h3 {

  font-family: 'Open Sans', sans-serif;

  font-size: 15px;

  margin-bottom: 15px;

  margin-top: 25px;

  text-transform: uppercase;

}

.main-content .page-content .panel-transparent .panel-header {

  border: none !important;

}

.main-content .page-content .panel-transparent .panel-content {

  border: none !important;

}

.main-content .page-content .panel-transparent .panel-footer {

  border: none !important;

}

.main-content .page-content .panel-placeholder {

  background-color: #DFE1E4 !important;

  border: 1px dashed #b6bcbf;

  margin-bottom: 20px;

  visibility: visible !important;

}

.main-content .page-content .panel.maximized {

  border-top: 1px solid #E8E8E8;

  bottom: 0px;

  left: 240px;

  margin: 0px;

  padding-top: 10px;

  position: fixed;

  right: 0px;

  top: 50px;

  z-index: 11;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  border-radius: 0;

}

.main-content .page-content .panel-default > .panel-heading {

  border-bottom: none;

}

.main-content .page-content .panel-default {

  border-color: #E8E8E8;

}

.main-content .page-content .sortable .panel-header {

  cursor: move;

}

.main-content .page-content .panel-header i {

  padding-right: 6px;

}

.main-content .page-content .panel-stat {

  border: none;

  overflow: hidden;

  position: relative;

}

.main-content .page-content .panel-stat h1 {

  color: #121212;

}

.main-content .page-content .panel-stat .stat-title {

  color: #121212;

  opacity: 0.7;

  text-transform: uppercase;

}

.main-content .page-content .panel-stat .icon {

  bottom: 45px;

  color: rgba(0, 0, 0, 0.1);

  font-size: 100px;

  line-height: 0;

  margin: 0;

  padding: 0;

  position: absolute;

  right: 5px;

  vertical-align: bottom;

  z-index: 1;

}

.main-content .page-content .panel-stat .bg-dark .icon {

  color: rgba(255, 255, 255, 0.1);

}

.main-content .page-content .panel-stat .big-icon i {

  display: inline-block;

  font-size: 53px;

  margin-top: 8px;

  opacity: 0.3;

}

.main-content .page-content .panel-stat .col-xs-6:last-child {

  text-align: right;

}

.main-content .page-content .panel-stat > [class*="bg-"]h1 {

  color: #ffffff;

}

.main-content .page-content .panel-stat > [class*="bg-"]h3 {

  color: #ffffff;

}

.main-content .page-content .panel-stat[class*="bg-"].stat-title {

  color: #ffffff;

}

.main-content .page-content .panel-stat-chart {

  margin-bottom: -10px;

  margin-left: -5px;

  margin-right: -5px;

  margin-top: -20px;

  position: relative;

}

.main-content .page-content #visitors-chart {

  bottom: 0;

  left: 0;

  position: absolute;

}

.main-content .page-content.page-thin {

  padding: 25px 25px 0 25px;

}

.main-content .page-content.page-thin .row {

  margin-left: -5px;

  margin-right: -5px;

}

.main-content .page-content.page-thin .row > [class^="col-"] {

  padding-left: 5px;

  padding-right: 5px;

}

.main-content .page-content.page-thin.page-builder {

  padding-left: 50px;

  padding-right: 50px;

}

.main-content .page-content .breadcrumb-wrapper {

  position: absolute;

  right: 0;

  top: 23px;

}

.main-content .page-content .breadcrumb-wrapper .label {

  color: #999999;

  display: inline-block;

  font-size: 11px;

  font-weight: 400;

  text-transform: uppercase;

}

.main-content .page-content .breadcrumb {

  background: none;

  display: inline-block;

  padding: 0;

}

.main-content .page-content .breadcrumb li {

  font-family: 'Lato', arial, sans-serif;

  font-weight: 700;

  font-size: 12px;

  text-transform: uppercase;

}

.main-content .page-content .breadcrumb li a {

  color: #319DB5;

}

.main-content .page-content .breadcrumb li.active {

  color: #333333;

}

.main-content .page-content .breadcrumb > li + li:before {

  color: #cccccc;

  content: "\2022";

  padding: 0 8px 0 5px;

}

.main-content .page-content > .header {

  padding: 15px 0;

  position: relative;

}

.main-content .page-content > .header h2 {

  color: #1D2939;

  font-family: 'Lato';

  font-size: 28px;

  letter-spacing: -0.5px;

  margin: 0;

  padding-bottom: 7px;

  font-weight: 100;

}

.main-content .page-content > .header h2 span {

  color: #999999;

  font-size: 13px;

  font-style: italic;

  letter-spacing: 0;

  text-transform: none;

  vertical-align: middle;

}

.main-content .page-content > .header h2 span::before {

  color: #cccccc;

  content: '/';

  margin: 0 10px 0 5px;

}

.main-content .page-content > .header .glyphicon {

  font-size: 24px;

  margin-right: 5px;

  opacity: 0.5;

  padding: 6px 7px;

  -webkit-border-radius: 50px;

  -moz-border-radius: 50px;

  border-radius: 50px;

}

.main-content .page-content > .header i {

  font-size: 24px;

  margin-right: 5px;

  opacity: 0.5;

  padding: 6px 7px;

  -webkit-border-radius: 50px;

  -moz-border-radius: 50px;

  border-radius: 50px;

}

.main-content .page-content > .header icon-logoutbefore {

  bottom: -4px;

  display: inline-block;

  font-size: 28px;

  position: relative;

}

.main-content .page-content > .footer {

  bottom: 0;

  margin-left: 0;

  margin-right: 0;

  margin-top: 20px;

  padding-bottom: 15px;

}

.main-content .page-content > .footer .copyright {

  border-top: 1px solid rgba(12, 12, 12, 0.07);

  padding: 20px 0;

  z-index: 15;

}

.main-content .page-content > .footer .copyright p {

  margin-bottom: 0;

}

.main-content .page-content > .footer .copyright a {

  color: #2C8CA0;

}

.main-content .page-content > .footer .copyright span {

  font-size: 88%;

  opacity: 0.8;

}

.main-content .page-content > .footer .copyright span.copyright {

  font-family: 'Open Sans';

}

.main-content .page-content > .footer.footer-absolute {

  left: 50px;

  margin-left: 0;

  margin-right: 0;

  position: absolute;

  right: 50px;

}

.main-content .page-content[class*='bg-'].panel-header .control-btn .btn-group > a {

  color: #ffffff !important;

  opacity: 0.8;

}

.main-content .page-content[class*='bg-'].panel .panel-header:hover .control-btn > a {

  opacity: 1;

}

.main-content .page-content[class^='bg-'].panel h1,

.main-content .page-content[class*=' bg-'].panel h1,

.main-content .page-content[class^='bg-'].panel h2,

.main-content .page-content[class*=' bg-'].panel h2,

.main-content .page-content[class^='bg-'].panel h3,

.main-content .page-content[class*=' bg-'].panel h3,

.main-content .page-content .panel[class^='bg-']h2,

.main-content .page-content .panel[class*=' bg-']h2,

.main-content .page-content .panel[class^='bg-']h3,

.main-content .page-content .panel[class*=' bg-']h3 {

  color: #ffffff !important;

}

.main-content .page-content .panel.bg-aero h1,

.main-content .page-content .panel.bg-aero h2,

.main-content .page-content .panel.bg-aero h3,

.main-content .page-content .panel .bg-aero h2,

.main-content .page-content .panel .bg-aero h3,

.main-content .page-content .panel .bg-gray-light h2,

.main-content .page-content .panel .bg-gray-light h3,

.main-content .page-content .panel .bg-blue-light h2,

.main-content .page-content .panel .bg-blue-light h3 {

  color: #5b5b5b !important;

}

.panel:hover .control-btn > a.nevershow {

  display: none !important;

}

.panel .panel-toggle {

  font-size: 15px;

}

.main-content .page-content .panel-header h3,

.main-content .page-content .panel-footer h2,

.main-content .page-content .panel-footer h3 {

  margin: 0;

}


.panel.table{
  padding: 20px;
}



input[type='search']:focus {
    background: url(../img/icon-search-gray.png) no-repeat 12px;

}

input[type='search']{
  padding-left: 32px;
}

.w_auto, .w_auto:focus{
  width: auto!important;
}

.division hr:first-of-type{
    margin-bottom: 20px;
}

.dataTables_filter{
  text-align: right;
}


body .modal-header {
    background-color: #2B333E;
    color: white;
    text-transform: uppercase;
}

body .modal-footer {
    padding: 10px;
    text-align: right;
}

body .titre, body .users, td[onclick]{
  cursor: pointer;
}

tr:hover td[onclick]:hover{
  color: #11aaff;
}

body div[data-notify="container"] {
z-index: 9999!important;
border-radius: 5px;
border: none;
}

body div[data-notify="container"].alert-info {
background: rgb(0, 165, 247);
color: #ffffff;
font-family: inherit;
}

body div[data-notify="container"].alert-success {
background: #4CAF50;
color: #ffffff;
font-family: inherit;
}

body div[data-notify="container"].alert-warning {
background: rgba(255, 0, 0, 0.9);
color: #ffffff;
font-family: inherit;
}

span[data-notify="icon"] {
font-size: 18px;
position: relative;
padding-right: 5px;
top: 1px;
}

span[data-notify="message"] {
font-size: 17px;
padding-right: 5px;
}

button[data-notify="dismiss"] {
opacity: 1;
text-shadow: none;
color: white;
}


#modal{
  display: none;
}

  /************** Graph **************/


  #graph .wrapper {
    /* width: 700px; */
    /* margin: 0 auto; */
    border-radius: 4px;
    /* background: #fff; */
    /* box-shadow: 0 1px 2px rgba(0,0,0,.3); */
    /* display: inline-block; */
  }



  #graph .chart {
    /* height: 300px; */
    padding: 20px;
    /*background: linear-gradient(to bottom, #797979 0%, #797979 100%);*/
  }


.contener_general
{
  -webkit-animation:animball_two 1s infinite;
  -moz-animation:animball_two 1s infinite;
  -ms-animation:animball_two 1s infinite;
  animation:animball_two 1s infinite;
  width:44px;
  height:44px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.contener_mixte
{
  width:44px; height:44px; position:absolute;
}

.ballcolor
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.ball_1, .ball_2, .ball_3, .ball_4
{
  position: absolute;
  -webkit-animation:animball_one 1s infinite ease;
  -moz-animation:animball_one 1s infinite ease;
  -ms-animation:animball_one 1s infinite ease;
  animation:animball_one 1s infinite ease;
}
.ball_1
{
  background-color:#cb2025;
  top:0; left:0;
}
.ball_2
{
  background-color:#f8b334;
  top:0; left:24px;
}
.ball_3
{
  background-color:#00a096;
  top:24px; left:0;
}
.ball_4
{
  background-color:#97bf0d;
  top:24px; left:24px;
}

#loader{
    position: fixed;
    z-index: 9999;
    top : 0px;
    left : 0px;
    height : 100%;
    background-color: rgba(255, 255, 255, 0.98);
    width : 100%;
    cursor : wait;
    }

@-webkit-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@-moz-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@-ms-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@-webkit-keyframes animball_two
{
  0%{-webkit-transform:rotate(0deg) scale(1);}
  50%{-webkit-transform:rotate(360deg) scale(1.3);}
  100%{-webkit-transform:rotate(720deg) scale(1);}
}
@-moz-keyframes animball_two
{
  0%{-moz-transform:rotate(0deg) scale(1);}
  50%{-moz-transform:rotate(360deg) scale(1.3);}
  100%{-moz-transform:rotate(720deg) scale(1);}
}
@-ms-keyframes animball_two
{
  0%{-ms-transform:rotate(0deg) scale(1);}
  50%{-ms-transform:rotate(360deg) scale(1.3);}
  100%{-ms-transform:rotate(720deg) scale(1);}
}
@keyframes animball_two
{
  0%{transform:rotate(0deg) scale(1);}
  50%{transform:rotate(360deg) scale(1.3);}
  100%{transform:rotate(720deg) scale(1);}
}

.graph .graphTitle{
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  background: #2b2e33;
  font-size: 25px;
  margin-bottom: 18px;
  color: white;
  padding: 5px 0;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}