.audio-player {
    background: #DADADA;
    border: 1px solid #dfdfdf;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row;
  }
  .audio-player .album-image {
    min-height: 50px;
    max-width: 50px;
    background-size: cover;
  }
  .audio-player .player-controls {
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    flex: 3;
  }
  .audio-player .player-controls progress {
    width: 90%;
  }
  .audio-player .player-controls progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: blue;
    height: 10px;
    border-radius: 8px;
  }
  .audio-player .player-controls progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    color: blue;
  }
  .audio-player .player-controls progress::-webkit-progress-value {
    background-color: blue;
  }
  .audio-player .player-controls p {
    font-size: 1.6rem;
  }
  .audio-player #play-btn {
    background-image: url("http://www.lukeduncan.me/images/play-button.png");
    background-size: cover;
    width: 75px;
    height: 75px;
    margin: 2rem 0 2rem 2rem;
  }
  .audio-player #play-btn.pause {
    background-image: url("http://www.lukeduncan.me/images/pause-button.png");
  }

  .audio-player #skip-btn {
    background-image: src("http://www.lukeduncan.me/images/pause-button.png");
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 2rem 0 2rem 2rem;
  }




  .sm2-bar-ui {
    font-size: 12px;
   }
   .sm2-bar-ui .sm2-main-controls,
   .sm2-bar-ui .sm2-playlist-drawer {
    background-color: #c6c6c6;
   }
   .sm2-bar-ui .sm2-inline-texture {
    background: transparent;
   }